body{
    background-image: url('canadian-dollar.png');
}

p{
    color:white;
    font-family: "Arial";
    font-weight: bold;
}

h3{
    color: #FFBC00;
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 0px;
}

li{

}

#Header{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border:solid 8px black;
    text-align: center;
    background-color: #8E41D5;
    outline-style: dashed;
}

#Header h1{
        font-size: 60px;
        font-family: "Times New Roman", Times, serif;
        color: #FFBC00;
        font-weight: bold;
}

#LeftNav{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    float: left;
    border:solid 8px black;
    text-align: center;
    padding-bottom: 8px;
    background-color: #8E41D5;
    outline-style: dashed;
}

#LeftNav img{

}

#LeftNav ul{
    list-style-type: none;
    padding-left: 0px;
}
#LeftNav h3{

}
#Content{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border:solid 8px black;
    text-align: center;
    padding: 15px;
    background-color: #8E41D5;
    outline-style: dashed;
}
#Footer{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border:solid 8px black;
    text-align: center;
    background-color: #8E41D5;
    outline-style: dashed;
}

#Footer ul{
    list-style-type: none;
    padding-left: 0px;
}